* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pricing container */
.pricing-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 100px;
    letter-spacing: 1px;
    flex-wrap: wrap;
}

/* Section */
section {
    border: 1px sandybrown solid;
    line-height: 1.6;
    border-radius: 15px;
    max-width: 300px;
}

ul {
    list-style-type: none;
    padding-left: 2em;
}

ul li {
    margin-bottom: 10px;
}

.plan-title {
    background-color: rgb(242, 118, 16);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: floralwhite;
}

/* Pricing plan */
.pricing-plan {
    flex-basis: 300px;
    flex: 1 1 300px;
    /* Adjust flex properties */
    padding: 20px;
}

.plan-price {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

.plan-features {
    margin-top: 10px;
}

/* Button */
.plan-button {
    display: flex;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: rgb(242, 118, 16);
    border: none;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
    border-radius: 15px;
    color: floralwhite;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .pricing-container {
        justify-content: flex-start;
        /* Align items to start on smaller screens */
        margin-top: 50px;
        /* Reduce top margin */
    }
}