header,
footer {
    background-color: red;
    height: 75px;
    width: 300px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: flex;
}

header div {
    display: flex;
    align-items: center;
    margin: auto;
}

main {
    background-color: blue;
    height: 100px;
    width: 300px;
}

div {
    display: flex;
    justify-content: center;
}

h2 {
    background-color: #fff;
    color: black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    text-align: center;
}