* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    height: 220px;
    width: 223px;
    object-fit: cover;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

/* Header styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* List styles */
h2 {
    font-size: 1.5rem;
    width: 50%;
    margin: 30px auto;
}

ol,
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

/* Image styles */
img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 50px;
}

img:hover {
    transform: scale(1.05);
}

li {
    height: 5px;
    margin-right: -200px;
}