.item {
    background-color: #F0F1EC;
}

.red {
    background-color: #E72F24;
}

.blue {
    background-color: #004592;
    border-bottom: 10px solid #000;
}

.yellow {
    background-color: #F9D01E;
}

.black {
    background-color: #232629;
}

.container {
    height: 748px;
    width: 748px;
    background-color: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

