* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px sandybrown solid;
    max-width: 700px;
    margin: auto;
    padding: 25px 0;
    border-radius: 15px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    margin: 0 auto;
    color: salmon;
}

a:hover {
    color: orangered;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 15px;
    color: blueviolet;
    font-size: 32px;
}

img {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

main ul {
    display: flex;
    flex-direction: column;
}

main ul li {
    margin-bottom: 20px;
}

main ul li a {
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}