@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("./assets/fonts/Booter\ -\ Zero\ Zero.woff") format("woff"),
         url("./assets/fonts/Booter\ -\ Zero\ Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Nav */
nav {
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

header button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    background-color: #ff4500;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
}

header button:hover,
header button:focus {
    background-color: #ff5e3a;
}

/* Play button */
button.arrow {
    background-color: #ff4500;
    font-size: 24px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  button.arrow:hover,
  button.arrow:focus {
    background-color: #ff5e3a;
  }

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul li {
    margin-top: 5px;
    padding: 0 5%;
}

ul a {
    text-decoration: none;
    vertical-align: middle;
}

ul a:hover {
    background-color: rgba(255, 255, 255, .3);
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url('./assets/images/Header\ Background.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
}

/* Table */
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

tr {
    text-align: center;
}

th, td {
    padding: 12px 20px;
    text-align: left;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
  }

  table button:hover {
    background-color: #45a049;
  }

/* Button styling */
button {
    cursor: pointer;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 1.5em 0;
}

footer a:hover {
    background: none;
}

/*  */