section {
    display: grid;
    grid-template-columns: repeat(minmax(200px, 1fr));
}
section > div {
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: none;
}