* {
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: .5px;
    margin: 15px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 15px;
}

img {
    display: block;
}

.sperm-whale {
    margin: 15px auto;
}

.moby-dick {
    float: left;
    height: 200px;
    margin: 40px 30px 20px 10px;
}

blockquote {
    font-style: italic;
    font-size: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    padding: 15px;
}

nav a {
    padding-right: 5px;
}

/* Section */
section {
    margin-top: 15px;
}

p {
    margin-top: 15px;
}

/* span */
span {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
}

/* header */
header {
    text-align: center;
}

/* main */
main {
    width: 50%;
    margin: auto;
}