body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}

button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 45px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    border: none;
    background-color: rgb(250, 176, 39);
    color: whitesmoke;
}

button:hover,
button:focus {
    background-color: rgb(248, 163, 5);
}

input {
    padding: 5px;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-top: 15px;
}

input:focus,
input:hover {
    border: 1px solid rgb(248, 163, 5);
}

h1 {
    color: rgb(250, 176, 39);
}

label {
    color: tomato;
}

/* New CSS for list items */
li {
    display: flex; /* Set list items to flex */
    align-items: center; /* Align items vertically */
    margin-bottom: 5px; /* Add margin at the bottom for spacing */
}

.delete-button {
    margin-left: 20px; /* Adjust margin between list item and delete button */
    align-self: flex-start; /* Align delete button to the start of the flex container */
}

span {
    margin-left: 15px;
    vertical-align: middle;
}

span button {
    background-color: red;
}

span button:hover {
    background-color: red;
}