body {
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
    width: 22.5%;
}

input {
    padding: 10px 25px;
    margin-bottom: 15px;
}

button {
    display: block;
    margin-left: 8%;
    margin-top: 10px;
    padding: 10px 25px;
    text-transform: uppercase;
    cursor: pointer;
}