* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 400px;
    margin: auto;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 15px;
}

h1, h2 {
    color: orangered;
    font-size: 32px;
}

h3 {
    color: rebeccapurple;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding-left: 3em;
}

ul li {
    color: rgb(96, 36, 155);
    margin-bottom: 15px;
}

a {
    padding-left: 7em;
    font-size: 24px;
    color: rgb(242, 169, 35);
}

a :hover {
    color: orangered;
}