body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: floralwhite;
}

main {
    width: 75%;
    margin: auto;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    color: #777;
    width: 70%;
    margin: auto;
}